<h2>Sucursales</h2>
<table>
    <thead>
        <tr>
            <th>Indice</th>
            <th>Sucursal</th>
            <th>Dirección</th>
            <th>Lugar</th>
            <th>Ventas Enero</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sucursal of this.listadoSucursales; let i = index">
            <td>{{ i }}</td>
            <td>{{ sucursal.nombre }}</td>
            <td>{{ sucursal.direccion }}</td>
            <td>{{ sucursal.lugar }}</td>
            <td>{{ sucursal.getVentasMes(1) }}</td>
        </tr>
    </tbody>
</table>
  

